<div class="container">
  <div class="row">

    <div class="col-nd-12">
      <h3>注文履歴一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= l order.created_at %></td>
            <td><%= order.customer.last_name + order.customer.first_name %></td>
            <td><%#= order.customer.amount %></td>
          </tr>
          <% end %>
        </tbody>
    </div>
  </div>
</div>
